.register-page-full {
  height: 100%;
}

.register-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7fafc;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cut-overflow-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
